header {
    text-align: center;
    font-size: 48px;
    background-color: blue;
    color: white;
}

.col-2 {
    margin-left: 20px;
    margin-top: 10px;
}

:-ms-input-placeholder {
    font-style:italic;
}