header {
    text-align: center;
    font-size: 48px;
    background-color: blue;
    color: white;
}

body {
    background-color: #2b8fd4;
}

.col-2 {
    margin-left: 20px;
    margin-top: 10px;
}

:-ms-input-placeholder {
    font-style:italic;
}

.fiveDayTemp {
    display: flex;
    margin-left: 20px;
}

.red, .green, .yellow {
    width: 10px;
    border-radius: 50%;
    height: 10px;
    display: inline-block;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.currentDayIcon {
    display: block;
}

.col-lg-2, .today, #currentDay {
    font-weight: bold;
}

.fiveDayWeatherIcon, .fiveDayHumid, .fiveDayWind {
    display:flex;
}

.fiveDayHumid, .fiveDayWind, .fiveDayTemp, .tomorrow, .twoDays, .threeDays, .fourDays, .fiveDays {
    margin-bottom: 29px;
    margin-top: 6px;
    font-weight: bold;
}

.strong {
    margin-top: 20px;
}